<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div class="form-group mb-3">
      <label for="nameSurname">Ad Soyad</label>
      <input type="text" id="nameSurname" class="form-control" formControlName="nameSurname" placeholder="Ad Soyad girin">
      <div *ngIf="registerForm.get('nameSurname')?.invalid && registerForm.get('nameSurname')?.touched" class="text-danger">
        Ad Soyad gereklidir.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="username">Kullanıcı Adı</label>
      <input type="text" id="username" class="form-control" formControlName="username" placeholder="Kullanıcı adı girin">
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
        Kullanıcı adı gereklidir.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email girin">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
        Geçerli bir email giriniz.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="password">Şifre</label>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Şifre girin">
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
        Şifre gereklidir.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="PasswordConfirm">Şifreyi Onayla</label>
      <input type="password" id="PasswordConfirm" class="form-control" formControlName="PasswordConfirm" placeholder="Şifreyi onaylayın">
      <div *ngIf="registerForm.get('PasswordConfirm')?.invalid && registerForm.get('PasswordConfirm')?.touched" class="text-danger">
        Şifreyi onaylayın.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
  </form>
  